[Unit]
Description=Dashcam recorder script
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mikem
ExecStart=/home/mikem/projects/dashcam/start.sh

[Install]
WantedBy=multi-user.target
